.bg-custom-routine{
    position: relative;
    overflow: hidden;
}
    .bg-custom-routine::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/lib/images/home/Home_Dumbbels_1_1800x.jpg');
        background-color: #000000;
        background-position: center;
        background-size: cover;
        z-index: -1;
        filter: brightness(.05) grayscale(100%) blur(5px);
    }
    .bg-custom-routine::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        z-index: -11;
    }
