*:focus {
    border-color: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.scroll-none {
    overflow-x: hidden !important;
    scrollbar-width: none !important;
}

    .scroll-none::-webkit-scrollbar {
        height: 0px !important;
        width: 0px !important;
        background: none !important;
        visibility: hidden !important;
    }

.fw-medium {
    font-weight: 600 !important;
}

.drop-position {
    right: 0 !important;
    left: auto !important;
}
@media (max-width: 600px) {
    .drop-position {
        right: auto !important;
        left: 0 !important;
    }
}