@model Rutina
@section css{ 
    <link href="~/css/rutinas.css" rel="stylesheet" />
}
@{
    if(Model != null)
    {
        ViewBag.ViewName = Model.Nombre;
    }
    else
    {
        ViewBag.ViewName = "Error";
    }
}

<div class="w-100" style="min-height: calc(100vh - 86px);">
    <div class="container col p-4">
        @if (Model != null)
        {
            <div class="w-100 d-flex justify-content-between">
                <a class="btn btn-primary fw-medium mb-3" asp-controller="Rutinas" asp-action="Index">Volver a rutinas</a>
            </div>
            <div class="row align-items-start g-5 py-5 px-4">
                <video class="w-100" style="height: 50vw; max-height: 660px; min-height: 220px; margin-top: 0px; padding-right: 0 !important; padding-left: 0 !important; background-color: black;" controls>
                    <source src="~/uploadFiles/videos/@Model.Video" type="video/mp4" />
                </video>
            </div>
            <div class="row flex-lg-row align-items-start g-5 p-0">
                <div class="col-lg-8 p-4 pb-0 mt-0">
                    <h2 class="fw-medium mb-3">@Model.Nombre</h2>
                    <p>@Html.Raw(Model.RutinaTexto)</p>
                    <p class="badge rounded-3 bg-primary">@Model.Categoria</p>
                    <p class="badge rounded-3 bg-dark">@Model.Fecha.ToString().Substring(0, 10)</p>
                </div>
            </div>
        }
        else
        {
            <div class="container px-4 py-5 d-flex align-items-center justify-content-center">
                <div class="p-5 rounded-3 bg-white col-lg-6 border">
                    <h2 class="fw-medium mb-3">Error al recuperar la rutina</h2>
                    <p>La rutina a la que estás intentando acceder <span class="fw-medium">no existe</span>, lamentamos los inconvenientes causados.</p>
                    <a class="btn w-100 btn-primary fw-medium"
                       asp-controller="Rutinas" asp-action="Rutinas">Volver a rutinas</a>
                </div>
            </div>
        }
    </div>
</div>