@{
    ViewBag.ViewName = "signup";
}
@section css{
    <link href="~/css/home.css" rel="stylesheet" />
}
@section scripts{
    <script>
    $(document).ready(function () {
        $("#btnSignup").click(function () {
            $("#ctnLoading").removeClass("d-none");
            $("#ctnLoading").addClass("d-flex");
        });
    });
    </script>
}

<div class="w-100 d-flex align-items-center justify-content-center" style="min-height: 100vh; position: relative; margin-top: -86px; background: #101214; background-image: radial-gradient(#585B5E 1px, transparent 0); background-size: 19px 19px; background-position: -10px -10px; box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5) inset; ">
    <partial name="_PartialLoading" />
    <div class="container px-4 d-flex align-items-center justify-content-center">
        <div class="p-5 rounded-3 bg-white col-lg-6 border" style="max-width: 410px;">
            <h2 class="fw-medium mb-5">Crea un perfil ahora:</h2>
            <form method="post" enctype="multipart/form-data" accept="image/png, image/jpg, image/jpge">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control rounded-4 text-lowercase" id="floatingInput" name="username" placeholder="Usuario">
                    <label for="floatingInput">Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control rounded-4" id="floatingPassword" name="password" placeholder="Contraseña">
                    <label for="floatingPassword">Contraseña</label>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label fw-medium">Selecciona una imagen de perfil:</label>
                    <input class="form-control" type="file" id="formFile" name="imagen" accept=".png, .jpg, .jpeg">
                </div>
                <small class="text-muted">@ViewData["MENSAJE"]</small>
                <button class="w-100 my-2 btn btn-lg rounded-4 btn-primary fw-medium" type="submit" id="btnSignup">Crear perfil</button>
                <small class="text-muted d-block">Al crear un perfil, acepta los términos de uso.</small>
                <a asp-action="LogIn">
                    <small class="text-muted text-decoration-underline">
                        ¿Ya tienes un perfil? Inicia sesión ahora
                    </small>
                </a>
            </form>
        </div>
    </div>
</div>