<div class="row">
    <div class="col-md-8 offset-2">
        <ul class="list-group">
            @foreach (var e in orcafit.Controllers.ChatController.Rooms)
            {
                <li class="list-group-item">
                    <a href="~/Chat/Room?room=@e.Key">@e.Value</a>
                </li>
            }
        </ul>
    </div>
</div>