@{
    ViewBag.ViewName = "dev";
}

<div class="container p-4" style="top: -86px; position: relative;">
    <h1>Administracion</h1>
    <hr />
    <p>
        <a asp-action="Rutinas" asp-controller="Developer">Rutinas</a>
    </p>
</div>